@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #758190;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
    color: dodgerblue;
    align-items: center;
}

.stats-container:hover{
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}
.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}
.navbar ul {
    list-style: none;
    overflow: hidden;
    /* position: fixed; */
    top: 0;
    width: 100%;
    margin-bottom: 0;
    z-index: 1000;
}
.navbar ul li {
    float: left;
    margin: 15px;
    /*margin-left: 20px;*/
}


/* Style rule set for individual li link */
.navbar ul li a {
    font-family: Arial;
    color:blue;
    font-size: 20px;
    text-decoration: none;
    display: block;
    text-align: right;
    padding: 2px;
}

/* Style rule set for hovered link */
.navbar ul li a:hover {
    font-weight: bold;
}
/* .revealable.active{
    opacity: 1;
    transform: translateY(0);
  }
  .revealable{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
  }
  js-scroll {
    opacity: 0;
    transition: opacity 500ms;
  }
  .js-scroll.scrolled {
    opacity: 1;
  } */
